<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thoughts on Code</title>

    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="assets_public/css/main.min.css" />
</head>
<body>

    <aside class="sidebar">
        <ul class="sidebar__nav">
            <%
                for(chapterEscapedName in chapters){
                    var details = chapters[chapterEscapedName];
            %>
                    <li><a href="#/<%= chapterEscapedName %>"><%= details.prettyName %></a>
                        <%
                            var subChapters = details.subChapters;
                            if(Object.keys(subChapters).length > 0){
                        %>
                                <ul>
                                    <% for(subChapterEscapedName in subChapters){ %>
                                    <li><a href="#/<%= chapterEscapedName %>/<%= subChapterEscapedName %>"><%= subChapters[subChapterEscapedName] %></a></li>
                                    <% }; %>
                                </ul>
                        <% } %>
                    </li>
            <% } %>
        </ul>
    </aside>

    <a id="js-sidebar-collapse-btn" class="sidebar-collapse-btn ion-navicon" href="#"></a>

    <div class="container">
        <% chaptersHTML.forEach(function(html){ %>
            <section class="chapter"><%- html %></section>
        <% }); %>
    </div>

    <script src="assets_public/js/main.js"></script>
</body>
</html>